apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namePrefix: prod-

namespace: nexus-lms-prod

commonLabels:
  environment: production

patches:
  - target:
      kind: Deployment
      name: nexus-server
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
  - target:
      kind: Deployment
      name: nexus-client
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
